<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top p-2" width="50%" 
          src="/assets/images/HashedIn_Logo.jpeg" alt="HashedIn Logo"/>

  <div class="card-body">
    <p class="card-text">
      <strong>{{ 254 | currency:'INR' }}</strong>
    </p>
    <p class="card-text">This is a specially designed course to enhance the capability of every
      Candidates during this HU Edge Angular Track Training.</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" style="background-color: orange;">Add to Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
      </div>
    </div>
  </div>
</div>
